<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Task:</strong></h2>
  <%= @task.name %>
</p>

<% if @task.sessions.any? %>
      <h3>Sessions</h3>
      <ul class="sessions">
        <%= render @sessions %>
      </ul>
<% end %>

<p>total: <%= @total %> minutes</p>

<progress value="<%= @total %>" max="<%= @target_duration %>"></progress>
<hr>
<%= link_to 'Add session', new_session_path %>

<%= link_to 'Back', root_path %>
